<div id="account-overview" v-cloak>
    <div class="container pt-5 pb-5">
        <h1>Mi cuenta</h1>
        <hr/>
        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>Información personal</h4>
            </div>
            <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/profile">Editar información</a>
        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Nombre:</div>
            <div class="col"><strong>{{me.fullName}}</strong></div>
        </div>
        <div class="row">
            <div class="col-3">Correo:</div>
            <div class="col">
                <strong>{{me.emailAddress}}</strong>
            </div>
        </div>
        <hr/>
        <div class="row mb-3">
            <div class="col-sm-6">
                <h4>Contraseña</h4>
            </div>
            <div class="col-sm-6">
        <span class="float-sm-right">
          <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/account/password">Cambiar contraseña</a>
        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Contraseña:</div>
            <div class="col"><strong>••••••••••</strong></div>
        </div>
        <hr/>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser(); %>
