<div id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="container pt-5 pb-5">
        <h1>Bienvenido! <%- me.type; %> <%- me.fullName; %></h1>
        <hr/>
        <% if (me && me.type === 'Docente') { %>
            <p>Registre una nueva sesión de clases para empezar a diagramar en tiempo real.</p>
        <% } %>

        <% if (me && me.type === 'Estudiante') { %>
            <p>Unete a una sesión y empieza a ver los diagramas diseñados por el anfitrion.</p>
        <% } %>

        <div class="buttons">
            <a class="btn btn-info" href="/account/profile">Datos personales</a>
            <% if (me && me.type === 'Docente') { %>
                <button class="btn btn-outline-info ml-2" @click="showModalCreateDiagram()">Nueva Sesión</button>
            <% } %>

            <% if (me && me.type === 'Estudiante') { %>
                <button class="btn btn-outline-info ml-2" @click="showModalJoinDiagram()">Unirse a Sesión</button>
            <% } %>

        </div>
    </div>

    <router-view></router-view>

    <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
          ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
          ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
    <modal class="example-modal" v-if="modal==='createDiagram'" @close="closeExampleModal()" v-cloak>
        <div class="modal-header">
            <h2 class="modal-title">Nueva Sesión de Diagrama</h2>
            <p class="modal-intro">Ingrese los datos requeridos para iniciar una nueva sesión de diagrama.</p>
            <hr>
        </div>
        <div class="modal-body">
            <div class="js-timestamp-examples">
                <ajax-form action="create" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                           :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules"
                           v-if="!cloudSuccess"
                           @submitted="submittedForm($event)">
                    <div class="form-group">
                        <label for="title">Titulo</label>
                        <input class="form-control" id="title" type="text"
                               :class="[formErrors.title ? 'is-invalid' : '']" v-model.trim="formData.title"
                               placeholder="Diagrama de ejemplo" autocomplete="title" focus-first>
                        <div class="invalid-feedback" v-if="formErrors.title">Ingrese el titulo.</div>
                    </div>
                    <div class="form-group">
                        <label for="email-address">Descripción</label>
                        <input class="form-control" id="description" type="text"
                               :class="[formErrors.description ? 'is-invalid' : '']" v-model.trim="formData.description"
                               placeholder="Descripción" autocomplete="description">
                        <div class="invalid-feedback" v-if="formErrors.description">Ingrese la descripción.</div>
                    </div>
                    <div class="form-group">
                        <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Nuevo diagrama
                        </ajax-button>
                    </div>
                </ajax-form>
                <div v-if="cloudSuccess">
                    <p>Diagrama creado correctamente: </p>
                    <b>Titulo: </b>
                    <p>{{formData.title}}</p>
                    <b>Descripción: </b>
                    <p>{{formData.description}}</p>
                    <b>Código de la sesión: </b>
                    <div style="display: flex;">
                        <input id="sessionId" class="form-control" style="width: 100%" type="text" readonly
                               v-model="formData.sessionId">
                        <button type="button" v-on:click="copySessionId" class="btn btn-outline-info">Copiar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer flex-row-reverse justify-content-between">
            <button type="button" v-on:click="gotoDiagramEditor"
                    v-bind:style="{visibility: cloudSuccess ? 'visible' : 'hidden'}" class="btn btn-info">
                Iniciar
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancelar</button>
        </div>
    </modal>


    <modal class="example-modal" v-if="modal==='joinDiagram'" @close="closeExampleModal()" v-cloak>
        <div class="modal-header">
            <h2 class="modal-title">Unirse a una Sesión de Diagrama</h2>
            <p class="modal-intro">Ingrese el codigo de la sesión para iniciar.</p>
            <hr>
        </div>
        <div class="modal-body">
            <div class="js-timestamp-examples">
                <div class="form-group">
                    <label for="title">Código de sesión</label>
                    <input class="form-control" id="sessionId" type="text"
                           placeholder="" autocomplete="title" focus-first>
                </div>
            </div>
        </div>
        <div class="modal-footer flex-row-reverse justify-content-between">
            <button type="button" v-on:click="joinSession" class="btn btn-info">
                Iniciar
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancelar</button>
        </div>
    </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser(); %>
