<div id="signup" v-cloak>
    <div class="container-fluid pt-5 pb-5" v-if="!cloudSuccess">
        <h1 class="text-center">Crea una cuenta</h1>
        <div style="max-width: 450px;" class="mx-auto">
            <p class="text-center">¡Empecemos! registrese para utilzar Simple Diagram, es gratis y solo le toma unos
                minutos.</p>
            <hr/>
            <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                       :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules"
                       @submitted="submittedForm()">
                <div class="form-group">
                    <label for="full-name">Nombre completo</label>
                    <input class="form-control" id="full-name" type="text"
                           :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName"
                           placeholder="Amy Lynn Lee" autocomplete="name" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.fullName">Ingrese su nombre completo.</div>
                </div>
                <div class="form-group">
                    <label for="email-address">Correo</label>
                    <input class="form-control" id="email-address" type="email"
                           :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"
                           placeholder="amylynnlee@example.com" autocomplete="email">
                    <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese su correo.</div>
                </div>
                <div class="form-group">
                    <label for="type">Tipo de usuario</label>
                    <select class="form-control" v-model="formData.type" id="type"
                            :class="[formErrors.type ? 'is-invalid' : '']">
                        <option disabled value="undefined">Seleccione un tipo de usuario</option>
                        <option value="Docente">Docente</option>
                        <option value="Estudiante">Estudiante</option>
                    </select>
                    <div class="invalid-feedback" v-if="formErrors.type">Seleccione un tipo de usuario.</div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" id="password" type="password"
                           :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password"
                           placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.password">Ingrese una contraseña.</div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmación</label>
                    <input class="form-control" id="confirm-password" type="password"
                           :class="[formErrors.confirmPassword ? 'is-invalid' : '']"
                           v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
                    <div class="invalid-feedback" v-if="formErrors.confirmPassword">La contraseña y la confirmación no
                        coinciden.
                    </div>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
                    <label for="terms-agreement" class="form-check-label"
                           :class="[formErrors.agreed ? 'text-danger' : '']">He leido y acepto los <a
                                target="_blank" href="/terms">términos de servicio</a>.</label>
                </div>
                <cloud-error v-if="cloudError==='emailAlreadyInUse'">Parece que ya existe una cuenta con tu dirección de
                    correo, si olvidó su contraseña, puede recuperarla <a href="password/forgot">aquí</a>.
                </cloud-error>
                <cloud-error v-else-if="cloudError"></cloud-error>
                <div class="form-group">
                    <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear cuenta
                    </ajax-button>
                </div>
            </ajax-form>
            <p class="text-center">¿Tiene una cuenta? <a href="/login">Inicia sesión</a></p>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5" v-if="cloudSuccess">
        <h1 class="text-center">Check your email!</h1>
        <div class="text-center">
            <hr/>
            <p>Your account is nearly ready. All you have to do is click the link we sent to <strong>{{formData.emailAddress}}</strong>.
            </p>
            <p>(You can still access your dashboard now, but some features will be unvavailable until we've verified
                your email address.)</p>
            <p><a class="btn btn-outline-info" href="/">Go to dashboard</a></p>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser(); %>
